<html lang="en">
<head>
  <meta charset="utf-8">

  <title>{{title}}</title>
  <meta name="description" content="Data van het software engineering lab 2 project">
  <meta name="author" content="tibo vanheule">

  <link rel="stylesheet" href="/data/static/styles.css?v=1.0">

</head>

<body>
<ul class="nav">
  <li><a href="/data/">Home</a></li>
  <li><a href="/data/rolverdeling">Rolverdeling</a></li>
  <li><a href="/data/vergadering">Vergaderingen</a></li>
  <li><a href="/data/gebruikershandleiding">gebruikershandleiding</a></li>
  <li><a href="/data/testhandleiding">testhandleiding</a></li>
  <li><a href="/data/usecases">Use cases</a></li>
  <li><a href="/data/architectuuroverzicht">Architectuuroverzicht</a></li>
  <li><a href="/data/milestone/1">Milestone 1</a></li>
  <li><a href="/data/milestone/2">Milestone 2</a></li>
</ul>
<div class="content">
{{{html}}}
</div>
</body>
</html>
